<!DOCTYPE html>
<html lang="en">
<head>
    
	<style>
		table {border: 1px solid grey;}
		th {border: 1px solid red;}
		td {border: 1px solid grey;}
        input{margin-top: 1em;}
        textarea{margin-top: 1em;}
	</style>
    <meta charset="utf-8">
	<title>My First Blog!</title>
</head>
<body>
	<div class='main-content'>
		<div>
		<h1>Welcome to my first blog!</h1>
          <h3>Hope you enjoy reading it!</h3>
        </div>
		<img src ="pug.jpg" alt = "My Pug!">
		<h2>My Dog!</h2>
		 Here is some information on pugs ! 
		<p><strong>The Pug</strong> is a breed of dog with physically distinctive features of a wrinkly, short-muzzled face, and curled tail. The breed has a fine, glossy coat that comes in a variety of colours, most often fawn or black, and a compact square body with well-developed muscles.Pugs were brought from China to Europe in the sixteenth century and were popularized in Western Europe by the House of Orange of the Netherlands, and the House of Stuart. <hr>In the  United Kingdom, in the nineteenth century,<br> Queen Victoria developed a passion for pugs which she passed on to other members of the Royal family.
		<p>To read more visit this <a href="https://en.wikipedia.org/wiki/Pug">link</a></p>
		<h3> Here is a cute video of pugs! </h3>
		<iframe height="100" src="https://www.youtube.com/embed/l3S7zyzg4P8" style="border: 2px solid; border-color: black;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

		<p><b>Here is a unordered list of some other dogs I love! You can click on the links to read more about them!</b></p>
		<ol>
			<li><a href="https://en.wikipedia.org/wiki/Labrador_Retriever" target = "blank">Labrador Retriever</a> </li>
			<li><a href='https://en.wikipedia.org/wiki/Beagle'>Beagle</a> </li>
			<li><a href='https://en.wikipedia.org/wiki/German_Shepherd'> German Shepherd </a></li>
		</ol>
		<h3> This is a short Description List of other animals I like!</h3>
		<h2> I also included some photos of each animal!</h2>
		<dl>
			<dt> Dairy Cows! </dt>
			<dd>Dairy cattle (also called dairy cows) are cattle cows bred for the ability to produce large quantities of milk, from which dairy products are made. Dairy cows generally are of the species Bos taurus. </dd> 
        </dl>
			<dl>
				<dt> Lions!</dt>
				<dd> The lion (Panthera leo) is a species in the family Felidae; it is a muscular, deep-chested cat with a short, rounded head, a reduced neck and round ears, and a hairy tuft at the end of its tail. The lion is sexually dimorphic; males are larger than females with a typical weight range of 150 to 250 kg (330 to 550 lb) for males and 120 to 182 kg (265 to 400 lb) for females </dd>
            </dl>
            <dl>
				<dt> Elephants </dt>
				<dd>Elephants are large mammals of the family Elephantidae in the order Proboscidea. Three species are currently recognised: the African bush elephant (Loxodonta africana), the African forest elephant (L. cyclotis), and the Asian elephant (Elephas maximus). </dd> 
			</dl>
		<h2>Photos!</h2>
		<h3> I am still learning HTML so this is a sample table I made! </h3>
		<table>
		  <tr>
		    <th colspan="4"> Header</th>
		  </tr>
		  <tr>
		    <td colspan="2">Row 1, cell 1</td>
		    <td >Row 1, cell 3</td>
		    <td >Row 1, cell 4</td>
		  </tr>
		  <tr>
		    <td rowspan="5">Row 2, cell 1</td>
		    <td rowspan="5" >Row 2, cell 2</td>
		    <td rowspan="5" >Row 2, cell 3</td>
		    <td >Row 2, cell 4</td>
		  </tr>
          <tr>
            <td >Row 3, cell 4</td>
        </tr>
      <tr>
        <td >Row 4, cell 4</td>
  </tr>
  <tr>
    <td >Row 5, cell 4</td>
</tr>
<tr>
    <td >Row 6, cell 4</td>
</tr>
          <tr>
            <td rowspan="5">Row 7, cell 1</td>
		    <td rowspan="5" >Row 7, cell 2</td>
		    <td rowspan="5" >Row 7, cell 3</td>
		    <td >Row 7, cell 4</td>
          </tr>
          <tr> <td >Row 8, cell 4</td></tr>
          <tr> <td >Row 9, cell 4</td></tr>
          <tr> <td >Row 10, cell 4</td></tr>
          <tr> <td >Row 11, cell 4</td></tr>
		  
		</table>
		<h3> I included an image of what the table should look like below! </h3>
		<img src="images/sample_table.png" alt="Sample table image">

		<p> That's all for my first blog, if you want to contact me use the following form! </p>
		<form>
            <div>
		    <label for="name">Name:</label>
		    <input type="text" name="user_name" id="name">
		 <br> 
		    <label for="mail">E-mail:</label>
		    <input type="email"  name="user_mail" id="mail">
            <br>
		  
		
            <label for="phone_num">Phone Number:</label>
            <input type="text" name= "user_" id="phone_num"> 
        
        <br>
		    <label for="msg">Message:</label>
		    <textarea id="msg" name="user_message"></textarea>
		  
		  <br>
		 	<label for="Birthday">Birthday:</label>
             <input id="Birthday" type="date" name = "user_date">
		<br>
		  
		  	<label>Gender:</label>
		  	<input type="radio" name="gender" value="male" > Male<br>
		 	<input type="radio" name="gender" value="female" > Female<br>
		  	<input type="radio" name="gender" value="other" > Other <br>
		
		  	<label>Favourite Dog?</label>
		  	<select name="favourite Dog">
		  		<option value="Pug">Pug</option>
		  		<option value="Labrador Retriever">Labrador Retriever</option>
		  		<option value="Beagle">Beagle</option>
		  		<option value="German Shepherd">German Shepherd</option>
              </select>
              <br>
		  	<button type="submit"> Submit </button>
		  </div>
	</form>
    

	  <header>
		<dl>
			<dt>Published on</dt>    
			<dd>12 June 2019</dd>    
		</dl>  
		<p>© Mystery Blogger 2019<br>
			Created with love ❤️
		</p>
    </header>
    </div>
</body>
</html>